/* by type */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* by class */

.tab-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tab-button-container {
    width: 33.333%;
    height: 100%;
}

.tab-button {
    background-color: #f8f9fa;
    border-radius: 40px 40px 0 0;
    border: 0;
    color: #3c4043;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 300%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    white-space: pre;
    align-self: center;
    margin: 0 auto;
    padding: 4%;
    display: block;
    width: 90%;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
}

.tab-button:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
    color: #202124;
    background-color: #d0d4d6;
}

.tab-button:focus {
    outline: none;
}

.pac-container {
    border-radius: 10px;
}

.pac-item {
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.pac-item-query {
	font-size: 150%;
	font-family: Arial, Helvetica, sans-serif;
}

/* by id */

#pac-input {
    top: 2%;
    background-color: inherit;
    border: 0;
    color: #3c4043;
    cursor: text;
    font-family: arial, sans-serif;
    font-size: 250%;
    margin-left: 4%;
    margin-right: 2%;
    text-overflow: ellipsis;
    align-self: center;
    width: 84%;
    height: 100%;
}

#pac-input:focus {
    outline: none;
}

#search-container {
    position: fixed;
    display: flex;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fcfcfc;
    border-radius: 60px;
    border: 0;
    cursor: text;
    margin: 0 auto;
    padding: 2%;
    text-overflow: ellipsis;
    width: 86%;
    max-height: 6%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
}

#map {
    position: fixed;
    width: 100%;
    height: 100%;
}

#tab-buttons {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0%;
}

#clear-text-button {
    top: 2%;
    background-color: inherit;
    border: 0;
    color: #8e8e8e;
    cursor: text;
    font-family: arial, sans-serif;
    font-size: 250%;
    margin: auto;
    text-overflow: ellipsis;
    align-self: center;
    cursor: pointer;
    width: 36px;
}
